@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

header{
    background-image: linear-gradient(#111111, #303030c0, #111111);
}

/* nav container style hamburger */

.nav-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}

.nav-border {
    border: 1.2px solid rgba(255, 255, 255, 0.196);
    border-radius: 39px;
}

.nav-style-btn {
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

.nav-btn {
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 60px;
    margin-right: 15px;
    cursor: pointer;
}

.hamburger-icon {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

/* < !-- nav banner container style --> */

.nav-banner-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
}

.nav-text {
    width: 65%;
    margin-top: 60px;
}

.nav-h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}

.font-miama {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}

.nav-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.join-btn {
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    cursor: pointer;
}

.download-btn {
    padding: 16px 40px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.nav-banner {
    width: 35%;
    position: relative;
}

.nav-banner > img{
    width: 100%;
}

.card-container {
    width: 206px;
    height: 96px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 418px;
    left: -115px;
}

.red-circle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    margin-right: 20px;
}

.card-title {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.card-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.card-container2 {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    align-content: center;
    position: absolute;
    top: 125px;
    left: 230px;
}

.another-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    margin-left: 25px;
}

.another-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 25px;
}

/* change your habbit container section style */

.prof-gym-container {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.habbit {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.habbit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}

.body-fitness-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.body-fitness {
    width: 231px;
    height: 290px;
    align-items: center;
    text-align: center;
}

.body-fitness > img {
    border-radius: 90px;
}

.move {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.we-believe {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

/* join now container section style */

.join-now-container {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.run-extra-container {
    padding: 30px 40px 30px;
    width: 45%;
}

.run-extra {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.run-extra-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 45px;
}

.run-join-btn {
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    cursor: pointer;
}

.run-extra-img {
    width: 50%;
    padding: 30px 0px 30px 160px;
    margin-left: 20px;
}

.run-extra-img img {
    width: 100%;
    border-radius: 18px;
}

/* explore our programe section style */

.explore-container {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.explore-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

a {
    text-decoration: none;
}

.our-header {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
}

.explore-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.explore-nav span {
    padding: 0 6px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.explore-grid {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.explore-card {
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.explore-card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.explore-card h4 {
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.explore-card p {
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.explore-card a {
    color: rgb(255, 255, 255);
}